.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer{
  background-color: rgb(38, 38, 39);
  padding:20px;
  border-radius: 20px;
}
.input:nth-child(1){
  padding: 7px;
}
.input:nth-child(2){
  padding: 7px;
  margin-right:12px;

}
.button{
  padding: 7px;
}
.input{
  margin-left: 12px;
  outline: none;
  border: none;
  font-weight: bold;
}
.item{
  display: flex;
  justify-content: space-between;
  margin:20px 10px;
  padding:7px;
  border-radius: 10px;
  background-color: rgba(19, 19, 19, 0.712);
}
.crossButton{
  border-left: 3px solid rgb(255, 255, 255);
  padding-left:10px;
  cursor: pointer;
}
.totalContainer{
  display: flex;
  justify-content: space-between;
}